<h1>N3rd.stack:[java]</h1>
<h3>Task sample</h3>
<div id="formTaskView">
    <form class="form-inline">

        <input type="text" ng-model="label"/><span></span>
        <input type="text" ng-model="who"/><span></span>
        <input type="text" ng-model="done"/><span></span>

        <button class="btn" ng-click="addTask(label,who,done)">Add Me</button>
    </form>
</div>

<div id="messageTaskView" class="alert alert-info">
    <span ng-bind="selectedTask.label"></span>
    <span ng-bind="selectedTask.who"></span>
    <span ng-bind="selectedTask.done"></span>
</div>

<div id="listTasksView">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Label</th>
                <th>Who</th>
                <th>Done</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in tasks">

            <td><a ng-click="select(task)">{{task._id}};</a></td>

            <td ng-bind="task.label"></td>
            <td ng-bind="task.who"></td>
            <td ng-bind="task.done"></td>

            <td><a ng-click="selectAndDelete(task)">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
